interactions:
- request:
    body: '{"fiat": "COP", "page": 1, "rows": 3, "transAmount": 100000, "tradeType":
      "BUY", "asset": "USDT", "countries": [], "proMerchantAds": false, "shieldMerchantAds":
      false, "filterType": "all", "periods": [], "additionalKycVerifyFilter": 0, "publisherType":
      "merchant", "payTypes": ["BancolombiaSA", "Nequi"], "classifies": ["mass", "profession"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://p2p.binance.com/bapi/c2c/v2/friendly/c2c/adv/search
  response:
    body:
      string: '{"code":"000000","message":null,"messageDetail":null,"data":[{"adv":{"advNo":"13639975072352235520","classify":"profession","tradeType":"SELL","asset":"USDT","fiatUnit":"COP","advStatus":null,"priceType":null,"priceFloatingRatio":null,"rateFloatingRatio":null,"currencyRate":null,"price":"4250.99","initAmount":null,"surplusAmount":"201.77","tradableQuantity":"201.48","amountAfterEditing":null,"maxSingleTransAmount":"40000000.00","minSingleTransAmount":"100000.00","buyerKycLimit":null,"buyerRegDaysLimit":null,"buyerBtcPositionLimit":null,"remarks":null,"autoReplyMsg":"","payTimeLimit":15,"tradeMethods":[{"payId":null,"payMethodId":"","payType":"BancolombiaSA","payAccount":null,"payBank":null,"paySubBank":null,"identifier":"BancolombiaSA","iconUrlColor":null,"tradeMethodName":"Bancolombia
        S.A","tradeMethodShortName":"Bancolombia S.A","tradeMethodBgColor":"#283572"}],"userTradeCountFilterTime":null,"userBuyTradeCountMin":null,"userBuyTradeCountMax":null,"userSellTradeCountMin":null,"userSellTradeCountMax":null,"userAllTradeCountMin":null,"userAllTradeCountMax":null,"userTradeCompleteRateFilterTime":null,"userTradeCompleteCountMin":null,"userTradeCompleteRateMin":null,"userTradeVolumeFilterTime":null,"userTradeType":null,"userTradeVolumeMin":null,"userTradeVolumeMax":null,"userTradeVolumeAsset":null,"createTime":null,"advUpdateTime":null,"fiatVo":null,"assetVo":null,"advVisibleRet":null,"takerAdditionalKycRequired":0,"minFiatAmountForAdditionalKyc":null,"inventoryType":null,"offlineReason":null,"assetLogo":null,"assetScale":2,"fiatScale":2,"priceScale":2,"fiatSymbol":"COL$","isTradable":true,"dynamicMaxSingleTransAmount":"856489.46","minSingleTransQuantity":"23.52","maxSingleTransQuantity":"9409.57","dynamicMaxSingleTransQuantity":"201.48","commissionRate":"0.00140000","takerCommissionRate":null,"minTakerFee":null,"tradeMethodCommissionRates":[],"launchCountry":null,"abnormalStatusList":null,"closeReason":null,"storeInformation":null,"allowTradeMerchant":null,"adTradeInstructionTagInfoRets":[],"isSafePayment":false},"advertiser":{"userNo":"s6048e643c8c03d33810e2b70d4dfcd0b","realName":null,"nickName":"CriptoScalper","margin":null,"marginUnit":null,"orderCount":null,"monthOrderCount":2507,"monthFinishRate":0.998,"positiveRate":0.99729982,"advConfirmTime":null,"email":null,"registrationTime":null,"mobile":null,"userType":"merchant","tagIconUrls":[],"userGrade":3,"userIdentity":"MASS_MERCHANT","proMerchant":null,"badges":["Ordinary"],"isBlocked":false,"activeTimeInSecond":25}},{"adv":{"advNo":"12593200439446810624","classify":"profession","tradeType":"SELL","asset":"USDT","fiatUnit":"COP","advStatus":null,"priceType":null,"priceFloatingRatio":null,"rateFloatingRatio":null,"currencyRate":null,"price":"4251.00","initAmount":null,"surplusAmount":"93.94","tradableQuantity":"93.80","amountAfterEditing":null,"maxSingleTransAmount":"13000000.00","minSingleTransAmount":"100000.00","buyerKycLimit":null,"buyerRegDaysLimit":null,"buyerBtcPositionLimit":null,"remarks":null,"[...]
