interactions:
- request:
    body: '{"fiat": "COP", "page": 1, "rows": 10, "transAmount": 100000, "tradeType":
      "BUY", "asset": "USDT", "countries": [], "proMerchantAds": false, "shieldMerchantAds":
      false, "filterType": "all", "periods": [], "additionalKycVerifyFilter": 0, "publisherType":
      "merchant", "payTypes": ["BancolombiaSA", "Nequi"], "classifies": ["mass", "profession"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://p2p.binance.com/bapi/c2c/v2/friendly/c2c/adv/search
  response:
    body:
      string: '{"code":"000000","message":null,"messageDetail":null,"data":[{"adv":{"advNo":"13654538729957601280","classify":"profession","tradeType":"SELL","asset":"USDT","fiatUnit":"COP","advStatus":null,"priceType":null,"priceFloatingRatio":null,"rateFloatingRatio":null,"currencyRate":null,"price":"4260.00","initAmount":null,"surplusAmount":"480.84","tradableQuantity":"480.07","amountAfterEditing":null,"maxSingleTransAmount":"13000000.00","minSingleTransAmount":"70000.00","buyerKycLimit":null,"buyerRegDaysLimit":null,"buyerBtcPositionLimit":null,"remarks":null,"autoReplyMsg":"","payTimeLimit":15,"tradeMethods":[{"payId":null,"payMethodId":"","payType":"BancolombiaSA","payAccount":null,"payBank":null,"paySubBank":null,"identifier":"BancolombiaSA","iconUrlColor":null,"tradeMethodName":"Bancolombia
        S.A","tradeMethodShortName":"Bancolombia S.A","tradeMethodBgColor":"#283572"}],"userTradeCountFilterTime":null,"userBuyTradeCountMin":null,"userBuyTradeCountMax":null,"userSellTradeCountMin":null,"userSellTradeCountMax":null,"userAllTradeCountMin":null,"userAllTradeCountMax":null,"userTradeCompleteRateFilterTime":null,"userTradeCompleteCountMin":null,"userTradeCompleteRateMin":null,"userTradeVolumeFilterTime":null,"userTradeType":null,"userTradeVolumeMin":null,"userTradeVolumeMax":null,"userTradeVolumeAsset":null,"createTime":null,"advUpdateTime":null,"fiatVo":null,"assetVo":null,"advVisibleRet":null,"takerAdditionalKycRequired":0,"minFiatAmountForAdditionalKyc":null,"inventoryType":null,"offlineReason":null,"assetLogo":null,"assetScale":2,"fiatScale":2,"priceScale":2,"fiatSymbol":"COL$","isTradable":true,"dynamicMaxSingleTransAmount":"2045098.20","minSingleTransQuantity":"16.43","maxSingleTransQuantity":"3051.64","dynamicMaxSingleTransQuantity":"480.07","commissionRate":"0.00160000","takerCommissionRate":null,"minTakerFee":null,"tradeMethodCommissionRates":[],"launchCountry":null,"abnormalStatusList":null,"closeReason":null,"storeInformation":null,"allowTradeMerchant":null,"adTradeInstructionTagInfoRets":[],"isSafePayment":false},"advertiser":{"userNo":"sfdf8da5d69543cc3a9684113143c6d07","realName":null,"nickName":"Compra-Venta-Fire","margin":null,"marginUnit":null,"orderCount":null,"monthOrderCount":1634,"monthFinishRate":1.000,"positiveRate":1.00000000,"advConfirmTime":null,"email":null,"registrationTime":null,"mobile":null,"userType":"merchant","tagIconUrls":[],"userGrade":3,"userIdentity":"MASS_MERCHANT","proMerchant":null,"badges":["Ordinary"],"isBlocked":false,"activeTimeInSecond":0}},{"adv":{"advNo":"13653856615588610048","classify":"profession","tradeType":"SELL","asset":"USDT","fiatUnit":"COP","advStatus":null,"priceType":null,"priceFloatingRatio":null,"rateFloatingRatio":null,"currencyRate":null,"price":"4263.86","initAmount":null,"surplusAmount":"420.31","tradableQuantity":"419.63","amountAfterEditing":null,"maxSingleTransAmount":"19500000.00","minSingleTransAmount":"100000.00","buyerKycLimit":null,"buyerRegDaysLimit":null,"buyerBtcPositionLimit":null,"remarks":null,[...]
