interactions:
- request:
    body: '{"fiat": "COP", "page": 1, "rows": 3, "transAmount": 0.0, "tradeType":
      "BUY", "asset": "USDT", "countries": [], "proMerchantAds": false, "shieldMerchantAds":
      false, "filterType": "all", "periods": [], "additionalKycVerifyFilter": 0, "publisherType":
      "merchant", "payTypes": ["BancolombiaSA", "Nequi"], "classifies": ["mass", "profession"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://p2p.binance.com/bapi/c2c/v2/friendly/c2c/adv/search
  response:
    body:
      string: '{"code":"000000","message":null,"messageDetail":null,"data":[{"adv":{"advNo":"13680367813882507264","classify":"profession","tradeType":"SELL","asset":"USDT","fiatUnit":"COP","advStatus":null,"priceType":null,"priceFloatingRatio":null,"rateFloatingRatio":null,"currencyRate":null,"price":"4289.00","initAmount":null,"surplusAmount":"703.00","tradableQuantity":"701.87","amountAfterEditing":null,"maxSingleTransAmount":"3000001","minSingleTransAmount":"3000000","buyerKycLimit":null,"buyerRegDaysLimit":null,"buyerBtcPositionLimit":null,"remarks":null,"autoReplyMsg":null,"payTimeLimit":15,"tradeMethods":[{"payId":null,"payMethodId":"","payType":"BancolombiaSA","payAccount":null,"payBank":null,"paySubBank":null,"identifier":"BancolombiaSA","iconUrlColor":null,"tradeMethodName":"Bancolombia
        S.A","tradeMethodShortName":"Bancolombia S.A","tradeMethodBgColor":"#283572"}],"userTradeCountFilterTime":null,"userBuyTradeCountMin":null,"userBuyTradeCountMax":null,"userSellTradeCountMin":null,"userSellTradeCountMax":null,"userAllTradeCountMin":null,"userAllTradeCountMax":null,"userTradeCompleteRateFilterTime":null,"userTradeCompleteCountMin":null,"userTradeCompleteRateMin":null,"userTradeVolumeFilterTime":null,"userTradeType":null,"userTradeVolumeMin":null,"userTradeVolumeMax":null,"userTradeVolumeAsset":null,"createTime":null,"advUpdateTime":null,"fiatVo":null,"assetVo":null,"advVisibleRet":null,"takerAdditionalKycRequired":0,"minFiatAmountForAdditionalKyc":null,"inventoryType":null,"offlineReason":null,"assetLogo":null,"assetScale":2,"fiatScale":2,"priceScale":2,"fiatSymbol":"COL$","isTradable":true,"dynamicMaxSingleTransAmount":"3000001","minSingleTransQuantity":"699.46","maxSingleTransQuantity":"699.46","dynamicMaxSingleTransQuantity":"699.46","commissionRate":"0.00160000","takerCommissionRate":null,"minTakerFee":null,"tradeMethodCommissionRates":null,"launchCountry":null,"abnormalStatusList":null,"closeReason":null,"storeInformation":null,"allowTradeMerchant":null,"adTradeInstructionTagInfoRets":null,"isSafePayment":false,"adAdditionalKycVerifyItems":null},"advertiser":{"userNo":"s8ef8190b0902311a9148a32c54fe1904","realName":null,"nickName":"GLOBAL
        RIS SpA","margin":null,"marginUnit":null,"orderCount":null,"monthOrderCount":453,"monthFinishRate":0.971,"positiveRate":0.99587955,"advConfirmTime":null,"email":null,"registrationTime":null,"mobile":null,"userType":"merchant","tagIconUrls":[],"userGrade":3,"userIdentity":"MASS_MERCHANT","proMerchant":null,"badges":["Ordinary"],"isBlocked":false,"activeTimeInSecond":0}},{"adv":{"advNo":"13638937388921147392","classify":"profession","tradeType":"SELL","asset":"USDT","fiatUnit":"COP","advStatus":null,"priceType":null,"priceFloatingRatio":null,"rateFloatingRatio":null,"currencyRate":null,"price":"4290.00","initAmount":null,"surplusAmount":"2152.57","tradableQuantity":"2149.13","amountAfterEditing":null,"maxSingleTransAmount":"1000000","minSingleTransAmount":"500000","buyerKycLimit":null,"buyerRegDaysLimit":null,"buyerBtcPositionLimit":null,"remarks":null,"auto[...]
[...]
