interactions:
- request:
    body: '{"fiat": "COP", "page": 1, "rows": 3, "transAmount": 20000.0, "tradeType":
      "BUY", "asset": "USDT", "countries": [], "proMerchantAds": false, "shieldMerchantAds":
      false, "filterType": "all", "periods": [], "additionalKycVerifyFilter": 0, "publisherType":
      "merchant", "payTypes": ["BancolombiaSA", "Nequi"], "classifies": ["mass", "profession"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://p2p.binance.com/bapi/c2c/v2/friendly/c2c/adv/search
  response:
    body:
      string: '{"code":"000000","message":null,"messageDetail":null,"data":[{"adv":{"advNo":"13641440055023697920","classify":"profession","tradeType":"SELL","asset":"USDT","fiatUnit":"COP","advStatus":null,"priceType":null,"priceFloatingRatio":null,"rateFloatingRatio":null,"currencyRate":null,"price":"4301.00","initAmount":null,"surplusAmount":"986.28","tradableQuantity":"984.70","amountAfterEditing":null,"maxSingleTransAmount":"1800000","minSingleTransAmount":"20000","buyerKycLimit":null,"buyerRegDaysLimit":null,"buyerBtcPositionLimit":null,"remarks":null,"autoReplyMsg":null,"payTimeLimit":15,"tradeMethods":[{"payId":null,"payMethodId":"","payType":"Nequi","payAccount":null,"payBank":null,"paySubBank":null,"identifier":"Nequi","iconUrlColor":null,"tradeMethodName":"Nequi","tradeMethodShortName":"Nequi","tradeMethodBgColor":"#FF2F73"},{"payId":null,"payMethodId":"","payType":"BancolombiaSA","payAccount":null,"payBank":null,"paySubBank":null,"identifier":"BancolombiaSA","iconUrlColor":null,"tradeMethodName":"Bancolombia
        S.A","tradeMethodShortName":"Bancolombia S.A","tradeMethodBgColor":"#283572"}],"userTradeCountFilterTime":null,"userBuyTradeCountMin":null,"userBuyTradeCountMax":null,"userSellTradeCountMin":null,"userSellTradeCountMax":null,"userAllTradeCountMin":null,"userAllTradeCountMax":null,"userTradeCompleteRateFilterTime":null,"userTradeCompleteCountMin":null,"userTradeCompleteRateMin":null,"userTradeVolumeFilterTime":null,"userTradeType":null,"userTradeVolumeMin":null,"userTradeVolumeMax":null,"userTradeVolumeAsset":null,"createTime":null,"advUpdateTime":null,"fiatVo":null,"assetVo":null,"advVisibleRet":null,"takerAdditionalKycRequired":0,"minFiatAmountForAdditionalKyc":null,"inventoryType":null,"offlineReason":null,"assetLogo":null,"assetScale":2,"fiatScale":2,"priceScale":2,"fiatSymbol":"COL$","isTradable":true,"dynamicMaxSingleTransAmount":"1800000","minSingleTransQuantity":"4.65","maxSingleTransQuantity":"418.50","dynamicMaxSingleTransQuantity":"418.50","commissionRate":"0.00160000","takerCommissionRate":null,"minTakerFee":null,"tradeMethodCommissionRates":null,"launchCountry":null,"abnormalStatusList":null,"closeReason":null,"storeInformation":null,"allowTradeMerchant":null,"adTradeInstructionTagInfoRets":null,"isSafePayment":false,"adAdditionalKycVerifyItems":null},"advertiser":{"userNo":"s214ff4e1178d3d778b626c5148d5b04c","realName":null,"nickName":"KANORGO","margin":null,"marginUnit":null,"orderCount":null,"monthOrderCount":7230,"monthFinishRate":0.996,"positiveRate":0.99921047,"advConfirmTime":null,"email":null,"registrationTime":null,"mobile":null,"userType":"merchant","tagIconUrls":[],"userGrade":3,"userIdentity":"MASS_MERCHANT","proMerchant":null,"badges":["Ordinary"],"isBlocked":false,"activeTimeInSecond":67}},{"adv":{"advNo":"13672608024846319616","classify":"profession","tradeType":"SELL","asset":"USDT","fiatUnit":"COP","advStatus":null,"priceType":null,"priceFloatingRatio":null,"rateFloatingRatio":null,"currencyRate":null,"price":"4310.00","initAmount":null,"surplusAmount":"192.15","tradableQuantity":"191.84","amountAfterEditing":null,"maxSingleTransAmount":"3000000","minSingleTransAmount":"8400","buyerKycLimit":null,"buyerRegDaysLimit":null,"buyerBtcPositionLimit":null,"remarks":null,"autoRep[...]
