interactions:
- request:
    body: '{"fiat": "COP", "page": 1, "rows": 3, "transAmount": 49000.0, "tradeType":
      "BUY", "asset": "USDT", "countries": [], "proMerchantAds": false, "shieldMerchantAds":
      false, "filterType": "all", "periods": [], "additionalKycVerifyFilter": 0, "publisherType":
      "merchant", "payTypes": ["BancolombiaSA", "Nequi"], "classifies": ["mass", "profession"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://p2p.binance.com/bapi/c2c/v2/friendly/c2c/adv/search
  response:
    body:
      string: '{"code":"000000","message":null,"messageDetail":null,"data":[{"adv":{"advNo":"13666985762407964672","classify":"profession","tradeType":"SELL","asset":"USDT","fiatUnit":"COP","advStatus":null,"priceType":null,"priceFloatingRatio":null,"rateFloatingRatio":null,"currencyRate":null,"price":"4294.99","initAmount":null,"surplusAmount":"82.55","tradableQuantity":"82.41","amountAfterEditing":null,"maxSingleTransAmount":"13000000","minSingleTransAmount":"15000","buyerKycLimit":null,"buyerRegDaysLimit":null,"buyerBtcPositionLimit":null,"remarks":null,"autoReplyMsg":null,"payTimeLimit":15,"tradeMethods":[{"payId":null,"payMethodId":"","payType":"BancolombiaSA","payAccount":null,"payBank":null,"paySubBank":null,"identifier":"BancolombiaSA","iconUrlColor":null,"tradeMethodName":"Bancolombia
        S.A","tradeMethodShortName":"Bancolombia S.A","tradeMethodBgColor":"#283572"}],"userTradeCountFilterTime":null,"userBuyTradeCountMin":null,"userBuyTradeCountMax":null,"userSellTradeCountMin":null,"userSellTradeCountMax":null,"userAllTradeCountMin":null,"userAllTradeCountMax":null,"userTradeCompleteRateFilterTime":null,"userTradeCompleteCountMin":null,"userTradeCompleteRateMin":null,"userTradeVolumeFilterTime":null,"userTradeType":null,"userTradeVolumeMin":null,"userTradeVolumeMax":null,"userTradeVolumeAsset":null,"createTime":null,"advUpdateTime":null,"fiatVo":null,"assetVo":null,"advVisibleRet":null,"takerAdditionalKycRequired":1,"minFiatAmountForAdditionalKyc":null,"inventoryType":null,"offlineReason":null,"assetLogo":null,"assetScale":2,"fiatScale":2,"priceScale":2,"fiatSymbol":"COL$","isTradable":true,"dynamicMaxSingleTransAmount":"353985","minSingleTransQuantity":"3.49","maxSingleTransQuantity":"3026.78","dynamicMaxSingleTransQuantity":"82.41","commissionRate":"0.00160000","takerCommissionRate":null,"minTakerFee":null,"tradeMethodCommissionRates":null,"launchCountry":null,"abnormalStatusList":null,"closeReason":null,"storeInformation":null,"allowTradeMerchant":null,"adTradeInstructionTagInfoRets":null,"isSafePayment":false,"adAdditionalKycVerifyItems":null},"advertiser":{"userNo":"sb660ae0d8e443779b7f8557215d9dcce","realName":null,"nickName":"Blackman","margin":null,"marginUnit":null,"orderCount":null,"monthOrderCount":1129,"monthFinishRate":0.987,"positiveRate":0.98198198,"advConfirmTime":null,"email":null,"registrationTime":null,"mobile":null,"userType":"merchant","tagIconUrls":[],"userGrade":3,"userIdentity":"MASS_MERCHANT","proMerchant":null,"badges":["Ordinary"],"isBlocked":false,"activeTimeInSecond":7}},{"adv":{"advNo":"13690961056649084928","classify":"profession","tradeType":"SELL","asset":"USDT","fiatUnit":"COP","advStatus":null,"priceType":null,"priceFloatingRatio":null,"rateFloatingRatio":null,"currencyRate":null,"price":"4295.39","initAmount":null,"surplusAmount":"2618.50","tradableQuantity":"2614.31","amountAfterEditing":null,"maxSingleTransAmount":"13000000","minSingleTransAmount":"25000","buyerKycLimit":null,"buyerRegDaysLimit":null,"buyerBtcPositionLimit":null,"remarks":null,"auto[...]
